<div class="allStuff">
<body class="allSides">
<div class="leftSide">
    <h1>Many modern-day pianists can trace their roots back to Beethoven. Can you? <br><br><h4>Welcome to Musical Genealogy! Tracking the teacher-student lineage of famous musicians going back through the centuries! There are currently <span style="color: #e75454;">{{numMusicians}}</span> musicians in our database.</h4></h1>
    <div style="flex: 100%; height: 0px;"></div>
</div>
<div class="rightSide">
    <div class="container-name-example" routerLink="/explore/1/0" >
        <a class="infoBubble-example">
          <span>Ludwig Van Beethoven</span><br>
          <span>1770-1827</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/5/0" >
        <a class="infoBubble-example">
          <span>Franz Liszt</span><br>
          <span>1811-1886</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/143/0" >
        <a class="infoBubble-example">
          <span>PYOTR ILYICH TCHAIKOVSKY</span><br>
          <span>1840-1893</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/116/0" >
        <a class="infoBubble-example">
          <span>Claudio Arrau</span><br>
          <span>1903-1991</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/214/0" >
        <a class="infoBubble-example">
          <span>FRÉDÉRIC CHOPIN</span><br>
          <span>1810-1849</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/223/0" >
        <a class="infoBubble-example">
          <span>Johann Sebastian Bach</span><br>
          <span>1685-1750</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/243/0" >
        <a class="infoBubble-example">
          <span>Wolfgang Amadeus Mozart</span><br>
          <span>1756-1791</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/258/0" >
        <a class="infoBubble-example">
          <span>Marie Antoinette</span><br>
          <span>1755-1793</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/256/0" >
        <a class="infoBubble-example">
          <span>Jean-Philippe Rameau</span><br>
          <span>1683-1764</span>
        </a>
    </div>
    <div class="container-name-example" routerLink="/explore/260/0" >
        <a class="infoBubble-example">
          <span>Johannes Brahms</span><br>
          <span>1833-1897</span>
        </a>
    </div>
    <div style="flex: 100%; height: 0px;"></div>
    <h4 style="flex: 50%; margin-top: 2rem;">Click on any of the above musicians to see their lineage or search for a particular artist!</h4>
</div>
</body>
<div class="container-name" id="searchButton" >
    <a class="infoBubble" routerLink="/search">
        Search for a pianist!
    </a>
</div>
</div>